/* Created by: Emma Janani
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-03-PHP-NameOfProgram
*/

body {
	background-color: #ddd0fb;
}

h1 {
	background-color: #b989e1;
	color: white;
	padding: 40px;
	text-align: center;
}

h5 {
  font-weight:bold;
  
}

div {
  font-weight: bold;
  color: white;
  margin-left: 300px;
  margin-right: 300px;
}

#results{
  border: solid;
  width: 20%;
}

